.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1d49a2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(83, 22, 198);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #212121;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-links a {
  margin: 0 15px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.section {
  padding: 100px 40px;
  min-height: 100vh;
  border-bottom: 1px solid #ccc;
}

.hero-section {
  background: white;
  padding: 40px;
  text-align: center;
}

.hero button {
  background-color: #007bff;
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
}

.hero button:hover {
  background-color: #0056b3;
}

